<!doctype html>
<html lang="en">
{% load static %}
{% include "manager.html" %}
  <body>
    {% include "navbar.html" %}
    <br>


    {% block content %}

    <div class="container">
        <!-- Show Current User Information -->

        <div class="container">
            <div class="jumbotron" style=text-align:left;>
              <h3>Account Information</h3>
                <ul style="list-style-type:none;">
                    <li>UserID : {{user.user_id}}</li>
                    <li>First Name : {{user.first_name}}</li>
                    <li>Last Name : {{user.last_name}}</li>
                    <li>Email : {{user.email}}</li>
                    <li>Phone : {{user.phone}}</li>
                    <li>City : {{user.city}}</li>
                    <li>Birth Date : {{user.birth_date}}</li>
                    <!-- <li>password : {{user.password}}</li> -->
                </ul>
            </div>
              <!-- <form  action="account_image" method="post">
                {% csrf_token %}
                {{ userimage.as_p }}
                  <button type="submit" name="button">Upload</button>
              </form> -->
          </div>

          <hr>

        <!-- Choices for updating the information or delete the information -->

          <h3>Account Actions</h3>
          <form action="delete_account">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Delete The Account</button>
          </form>
          <p></p>
          <form action="update_account">
              {% csrf_token %}
              <button class="btn btn-warning btn-lg" type="submit">Update Your Information</button>
          </form>

        <hr>
    </div>


    {% endblock %}
  </body>
</html>