<!doctype html>
<html lang="en">
  {% load static %}
  {% include "manager.html" %}
  {% block content %}
  
  <body>
    {% include "navbar.html" %}
    <br>
    <div class="container">
      {% include "comment_base.html" %}

      <hr>
      <!-- Search specific spot comment-->
      <!-- Search by Keywords -->
      <h1>Search other people comments here!</h1>
      <div class="form">
        <form method="POST">

          {% csrf_token %}
          <!-- {{ trip_search_box_form.as_p }} -->
          <div class="form-group">
            <!-- {{ trip_search_box_form.city.label_tag }} -->
            <!-- {{ trip_search_box_form.spot.label_tag }} -->
            {{ comment_search_box_form.city}}
            {{ comment_search_box_form.spot}}
          </div>
          <div class="form-group">
            <!-- {{ trip_search_box_form.keyword.label_tag }} -->
            {{ comment_search_box_form.keyword}}
          </div>
          <input class="btn btn-primary" name="submit" type="submit" value="Search" style="background-color: #33CCFF;  border: none;color: white; border-radius: 10%;">
        </form>
      </div>
      <hr>
      <!-- Add Results Here -->
      <!-- No results showed on the start page -->
      <div>
        {% if form_result.is_valid and form_result.cleaned_data %}
        <div>
          <h3>Search for {{form_result.cleaned_data.spot}}</h3>
          </br>
          <!-- {{result_list}} -->
          <ul style="list-style-type:none;">
            <h3>All the {{comment_name}} comment</h3>
            <table class="table" style="width:100%; border: 1px;">
                <tr>
                  <th>Comment</th>
                  <th>Rating</th>
                </tr>
                {% for s in result_list %}
                  <tr>
                    <td>{{s.comment}}</td>
                    <td>{{s.rating}}</td>
                  </tr>
                {% endfor %}
              </table>
          </ul>
        </div>

        {% else %}
        <h3> Hey! You forgot to search! </h3>
        {% endif %}
      </div>
      <br>
      <br>
    </div>
  </body>
{% endblock %}
</html>
